extends layout

block links
  link(rel='stylesheet', href='/css/loggedInNavbar.css')
  link(rel='stylesheet', href='/css/albumPhotos.css')

block content
  h1 Add some photos to your Album
  
  h3 Select album cover photo
  form(action=`/profile/album/${album.id}`, method='post', enctype='multipart/form-data')
    .form-group
      input(type='file', name='images', multuple=true)
    button.btn.btn-primary Add Photos
    
  .row
    each photo in photos
        img.photo(src=photo.photoUrl)
      

block scripts
