extends layout

block links
  link(rel='stylesheet', href='/css/loggedInNavbar.css')
  link(rel='stylesheet', href='/css/userBooks.css')

block content
  h1 My Albums
  #addBookWrapper
    a(href='/profile/newAlbum')
      button.btn.btn-primary Add Album
  if albums.length
    br
    input#search.form-control(type='text', placeholder='Search')
    br
    #tableWrapper
      table.table.table-condensed
        thead
          tr
            th Book Cover
            th#title(data-sort=1) Title 
              span .glyphicon.glyphicon-sort
            // --- For Future Use ---
            //- th &nbsp;
            //-   span.glyphicon.glyphicon-trash
        tbody
          each album in albums
            tr.dataRow(data-book = album.id)
              td 
                img.bookIcon(src=album.photoUrl)
              td.title.searchable #{album.title}
              // --- For Future Use ---
              //- td
              //-   span.deleteBook.glyphicon.glyphicon-trash
  else
    #noBooks
      h2 You currently have no albums
      h4 How about adding an album to your collection?
block scripts
  script(src="/js/userBooks.js")
