
extends layout

block links
  link(rel='stylesheet', href='/css/loggedInNavbar.css')
  link(rel='stylesheet', href='/css/newAlbum.css')

block content
  h1 Add an album to your collection
  
  form#addAlbumForm
    .form-group
      label.new(for='title') Title:
      input#title.form-control(type='text', placeholder='title')
    .form-group
      label.new(for='photo') Cover Photo Url:
      input#photoUrl.password.form-control(type='text', placeholder='photo url')
    button.btn.btn-primary(type='submit') Add Album

block scripts
  script(src="/js/newAlbum.js")
