body {
  background: lightblue;
  background-size: cover;
}

img {
  height: 200px;
  border: 5px solid black;
  width: 33.3%;
  /*margin: 2px;*/
}

h1 {
  text-align: center;
  color: black;
}

#albumCollection {
  margin-top: 20px;
  background: black;
  padding: 5px
}
