body {
  background: #e5ffff;
  background-size: cover;
}

img {
  height: 200px;
  border: 5px solid black;
}

form {
  color: black;
}

h1 {
  text-align: center;
  color: black;
}

h3 {
  color: black;
}

#albumCollection {
  margin: 20px auto 60px auto;
  background: black;
  padding: 5px;
}
#noPhotos {
  border: 2px solid black;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px 0 15px 0;
  color: black;
  background-color: #ffffff;
  opacity: 0.9;
}
