body {
  background: url('http://eskipaper.com/images/free-wallpapers-for-desktop-20.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

h1 {
  color: white;
  font-size: 145px;
  text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black;
}

p {
  color: yellow;
  font-size: 25px;
}

h4 {
  color:black;
}

#getStartedBtn {
  color: white;
  width: 200px;
  height: 60px;
  font-size: 24px;
}

#getStartedBtn:hover {
}

#logoutLink {
  display: none;
}

#homepageCenter {
 margin-left: 25%;
 margin-right: 25%;
 padding: 5px 0 20px 0;
 background-color: #ffffff;
 border: 2px solid black;
 opacity: 0.9;
 filter: alpha(opacity=60);
}

#homepageCenter h2 a {
  margin: 15%;
  font-weight: bold;
  color: white;
}

#logoutLink {
  display: none;
}
